@{
    ViewData["Title"] = "Reservatie Bevestigd";
}

<h2>Reservatie succesvol ingevoerd!</h2>

<p>Bedankt voor je reservatie, @TempData["Voornaam"]!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Terug naar Home</a>