@{
    ViewData["Title"] = "Reservatie Bevestigd";
}

<h2 class="text-center border-bottom pb-2">Bevestiging</h2>

<p class=" text-center bg-success text-white p-3 rounded">
    Reservatie succesvol geregistreerd!
</p>




<div class="d-flex justify-content-center gap-2 mt-5  t p-3">
    <a asp-controller="Home" asp-action="Index">Terug naar Home-pagina</a>
    <span>|</span>
    <a asp-controller="Reservatie" asp-action="Overzicht">Ga naar overzicht</a>
</div>